*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body{
  /* min-height: 1000px; */
}

/*-------- Layout -------*/

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-6{
  width: calc(100% / 2.2)
}

p{
  color: #111;
  font-weight: 300;
}

.banner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url(../images/bg.jpg);
  background-size: cover;
}

.banner .content{
  max-width: 900px;
  text-align: center;

}

.banner .content h2{
  font-size: 5rem;
  color: #f8f683;
}

.banner .content p{
  font-size: 1rem;
  color: #fff;
  margin-top: 3rem;
}

.btn {
  /* background: #f8f683; */
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 2px;
  transition: .1s;
  margin-top: 3rem;
  color: #ffffff;
  border-top: 2px solid #f8f683;
  border-bottom: 2px solid #f8f683;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
.btn:hover{
  letter-spacing: 4px;
 
}
.btn:hover::after{
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  height: 100%;
  background-color: #4d4d4d;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  transition: 500ms;
  animation: slide-in 500ms ease-in-out;
}

@keyframes slide-in {
  from{
    transform: translateX(-100%)
  }
  /* top{
    transform: translateX(100%)
  } */
  50%{
    transform: translateX(50%)
  }
  80%{
    transform: translateX(100%)
  }
}
/* Header */
header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
  left: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
  
}
header.sticky{
  background: rgba(255, 255, 255, 0.151);
  box-shadow: 0 5px 20px rgba(0,0,0, 0.2);
  transition: 100ms;
}





.navbar .logo{
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.navbar .logo span {
  color: #f8f683;
  
}

.nav-links {
  display: flex;
  position: relative;
  align-items: center;

}


.nav-links .nav-item{
  list-style: none;
  margin-right: 1rem;
  /* position: relative; */
}

.nav-links .nav-item a{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: all 100ms;
}

.nav-links .nav-item a:hover{
  color: #f8f683;
}
/* .nav_icon{
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2.5rem;
} */

.humberger{
  display: none;
}

.humberger:hover{
  color: #fff;
}

.sticky.drop{
  min-height: 100vh;
  transition: all 1000ms;
  background: #f8f683;
}

header.drop{
  min-height: 100vh;
  transition: all 1000ms;
  background: #f8f683;
}










/* Main */

.about{
  padding: 40px 0;
}

.info p{
  font-size: 1.1rem;
  margin-bottom: .5rem;
}
.image {
  position: relative;
  height: 100%;
}

.image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}













.humberger span {
  color: teal;
}
@media (max-width: 600px){
  

  /*------ Header / Navbar */
  .humberger{
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 2.5rem;
    
  }

  .humberger {
    color: teal;
  }

  header{
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  transition: all 1000ms;
  }
  
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translateY(0); */
    transform: translateY(-200%);
    /* add display none when not triggered */
  }

  .navbar.hide{
    transform: translateY(0);
  }
/* 
  .navbar.hide{
    transform: translateY(0);
  } */

  .navbar .logo{
    color: #4d4d4d;
  }

  .navbar .logo span{
    color: teal;
  }

  .nav-links {
    flex-direction: column;
  
  }

  .nav-links .nav-item{

    margin: 1rem 0;
  }
  
  .nav-links .nav-item a{
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 300;
    transition: all 100ms;
    font-size: 1.3rem;
  }
  
  .nav-links .nav-item a:hover{
    color: #4d4d4d;
  }



  /*---------- Layout ----------*/
  .row{
    flex-direction: column;
  }

  [class^='col-'] {
    width: 100%;
  }


  img {
    position: relative;
    min-height: 300px;
  }


  /*--- Banner ---*/
  .banner .content{
    max-width: 80%;
  }

  .banner .content h2{
    font-size: 2rem;
    color: #f8f683;
  }
  
  .banner .content p{
    font-size: .6rem;
    color: #fff;
  }


  /*----- About -------*/
  .info p{
    font-size: .8rem;
  }

}
/* ------ / Media Query -------*/
